/* ------------------------ */
/* Custom colors properties */
/* ------------------------ */

:root {
  /* colors */
  --clr-primary: 26, 100%, 55%;
  --clr-pale: 25, 100%, 94%;
  --v-dark-blue: 220, 13%, 13%;
  --dark-grayish-blue: 219, 9%, 45%;
  --grayish-blue: 220, 14%, 75%;
  --light-grayish-blue: 223, 64%, 98%;
  --white: 0, 0%, 100%;
  --black-75: 0, 0%, 0%, .75;
}