/* ------------------------ */
/* Custom fonts properties */
/* ------------------------ */
  
:root {
  /* font-sizes */  
  --fs-12: 0.75rem;
  --fs-14: 0.875rem;
  --fs-16: 1rem;
  --fs-17: 1.0625rem;
  --fs-28: 1.75rem;
  --fs-44: 2.75rem;
  
  /* font-families */
  --ff-sans: 'Kumbh Sans', sans-serif;
}