/* ------------------------ */
/* Custom sizing properties */
/* ------------------------ */
:root {
  /* space-sizes */
  --sizer-12: 0.75rem;
  --sizer-14: 0.875rem;
  --sizer-15: 1rem;
  --sizer-18: 1.125rem;
  --sizer-22: 1.376rem; 
  --sizer-24: 1.5rem;
  --sizer-28: 1.75rem;
  --sizer-80: 5rem;
}